<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
<link href="./style.css" rel="stylesheet" type="text/css">

<body id="app">
  <header>
    <input v-model="searchInput" debounce="300" v-on:keyup.13="search">
  </header>

  <div id="content" v-if="online">
    <ul class="giphy">
      <li v-for="gif in giphy" >
        <img src="./loading_spinner.gif" v-img="gif.images.fixed_height_small.url" v-on:click="copyToClipboard"/>
      </li>
      <li v-if="!giphy.length">
        No Results Returned from Giphy
      </li>
    </ul>
    <ul class="popkey">
      <li v-for="gif in popkey">
        <img src="loading_spinner.gif" v-img="gif.images.small.gif" v-on:click="copyToClipboard"/>
      </li>
      <li v-if="!popkey.length">
        No Results Returned from Popkey
      </li>
    </ul>
  </div>

  <footer>
    <div v-if="!online"><h1>stiffgif is currently offline</h1></div>
    <div v-show="selection" transition="selected"><h1>Gif has been copied</h1></div>
  </footer>

  <script src='script.js' type="text/javascript" charset="utf-8"></script>
</body>