<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
<link href="./style.css" rel="stylesheet" type="text/css">

<body id="app">
  <header>
    <input v-model="searchInput" debounce="300" v-on:keyup.13="search"> 
    <!-- <button v-on:click="">fetchmore</button> 
    <button v-on:click="">trending</button> 
    giphy {{ giphy.length }}
    popkey {{ popkey.length }} -->
  </header>
  <div id="content">
    

    <!-- <ul>
      <li v-if="!giphy.length && !loading">
        <p>No Results Found</p>
      </li>
      <li v-for="gif in giphy">
        <img v-bind:src="gif.images.downsized.url" v-on:click="toggleSelection"/>
      </li> 
    </ul> -->
    
    <div class="trending" v-if="scope === 'trending'">
      <ul class="giphy">
        <li v-for="gif in giphy" >
          <img class="half" v-bind:src="gif.images.fixed_height_small.url" v-on:click="toggleSelection"/>
        </li>
      </ul>
      <ul class="popkey">
        <li v-for="pop in popkey">
          <img class="half" v-bind:src="pop.images.small_cropped.gif" v-on:click="toggleSelection"/>
        </li>
      </ul>
    </div>

  </div>
  <script src='script.js' type="text/javascript" charset="utf-8"></script>
</body>