<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
<link href="./style.css" rel="stylesheet" type="text/css">

<body id="app">
  <header>
    <input v-model="searchInput" debounce="300" @keyup.enter="search">
  </header>
  <div id="content">    
    <ul class="giphy">
      <li v-for="gif in giphy" v-on:click="copyToClipboard">
        <img v-bind:src="gif.images.fixed_height.url" />
      </li>
    </ul>
  </div>
  <script src='script.js' type="text/javascript" charset="utf-8"></script>
</body>